{% extends "template.html" %}
{% block body %}
<div class="container" style="text-align: center; margin-top: 20px;"> 
    <form action="/p_update/{{id}}" method="POST">
        <div class="form-group">
          <label for="text"><h1> Update Product</h1></label>
          <input type="text" class="form-control" name="pname" id="exampleInputEmail1" aria-describedby="text" value="{{product.product_name}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock %}
