{% extends "template.html" %}
{% block body %}
<div class="container">
  <table class="table table-borderless mt-5" id="myTable">
    <thead class="thead-light">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Warehouse</th>
        <th scope="col">Qty</th>
      </tr>
    </thead>
    <tbody>
      {% for row in report %}
      <tr>
        <td scope="row">{{row.product}}</td>
        <td>{{row.location}}</td>
        <td>{{row.quantity}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}