<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Inventory Management</title>
    <link rel="icon" href="{{url_for('static', filename = 'img/in.jpg')}}" type="image/x-icon">
</head>

<body style="background-color:rgba(206, 204, 204, 0.938);">
    <div class="container my-5 shadow-md p-0 rounded">
        <div class="card text-center">
            <div class="card-header bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-0">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="navbar-brand mt-n3 pr-5 " href="/">
                                    <img width="45" style="border-radius: 50px" class="d-inline-block align-middle mr-2"
                                        src="{{url_for('static', filename = 'img/in.jpg')}}">
                                    <span class="font-weight-bold">Inventory Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if r %}active{% endif %}" href="/">Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if p %}active{% endif %} " href="/product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if l %}active{% endif %}" href="/location">location</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if m %}active{% endif %}" href="/movement">Movements</a>
                            </li>

                            <li class="nav-item " style="padding-left: 155px;">
                                <input class="form-control mr-sm-2" id="myInput" onkeyup="myFunction()" type="search"
                                    placeholder="Search" aria-label="Search">
                            </li>
                        </ul>
                    </div>
                </nav>


            </div>
            <div class="card-body">
                {% block body %} {% endblock %}
            </div>
        </div>

    </div>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td || td1 || td2) {
                    txtValue = td.textContent || td.innerText;
                    txtValue1 = td1.textContent || td1.innerText;
                    txtValue2 = td2.textContent || td2.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>